<?xml version="1.0"?>
<launch>
 <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_current_gps" respawn="true"  >

      <param name="yaw_offset" value="1.5707963"/> #-1.8316
      <param name="magnetic_declination_radians" value="0.0"/> 
      <param name="broadcast_utm_transform" value="true"/> 
      <remap from="/imu/data" to="/imu/data" />
      <remap from="/odometry/filtered" to="/odometry/filtered" />
      <param name="zero_altitude" value="true"/> 

    
  </node>


  <!-- Run the ekf localization node -->


<node pkg="robot_localization" type="ekf_localization_node" name="ekf_1">

  <rosparam command="load" file="$(find rover_localization)/config/rover_localization.yaml" />

  </node>

</launch>
