<?xml version="1.0"?>
<launch>


 <include file="$(find rover_description)/launch/display.launch"/>
  
  <include file="$(find rover_control)/launch/control.launch"/>

  <node name="rover" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false" />
  </node>
  

<node name="rover_garen2_control" pkg="rover_control" type="rover_garen2_control.py"/>
<node name="rover_cmd_sub" pkg="rover_cmd_point" type="rover_cmd_sub.py"/>

   


</launch>
