<?xml version="1.0"?>
<launch>


 <include file="$(find rover_description)/launch/display.launch"/>
  
  <include file="$(find rover_control)/launch/control.launch"/>

<node name="rover_cmd_sub" pkg="rover_cmd_point" type="rover_cmd_sub.py" output="screen"/>

     <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true"  >
      <rosparam param="datum">[41.106174,29.024019, 0, odom, base_link]</rosparam>
      <param name="yaw_offset" value="-1.57"/>
      <param name="magnetic_declination_radians" value="0.095644043"/> #0.095644043
      <remap from="/imu/data" to="/imu/data" />
  </node>

     <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node1" respawn="true" output="screen">
      <rosparam param="datum">[41.106174,29.024019,0, odom, base_link]</rosparam>
      <param name="yaw_offset" value="-1.57"/>
      <param name="magnetic_declination_radians" value="0.095644043"/>
      <remap from="/odometry/gps" to="/odometry/goal" />
      <remap from="/gps/fix" to="/gps/goal" />
       
  </node>
 
</launch>
